.ModeToggleButton {
    font-size: 16px;
    font-weight: 900;
    background-color: lightgray;
    padding: 10px;
    border: 1px darkcyan solid;
    border-radius: 25px;
    position: absolute;
    inset-block-start: 10px;
    inset-inline-end: -15%;
    z-index: 1000;
}
