.ModeToggleButton {
    font-size: 12px;
    font-weight: 900;
    background-color: lightgray;
    padding: 5px;
    border: 1px darkcyan solid;
    border-radius: 25px;
    position: absolute;
    inset-block-start: 10px;
    inset-inline-end: -15%;
    z-index: 1000;
}

@media only screen and (max-width: 1600px) {
    .ModeToggleButton {
        position: absolute;
        inset-inline-start: 50%;
        z-index: 1000;
        padding: 2px;
        font-size: 12px;
        font-weight: 400;
        width: 10%;
    }
}
